@model IEnumerable<CadastroVendas.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<h1>Lista de Usuários</h1>

<p>
    <a asp-action="Create" class="btn btn-warning"><i class="bi bi-plus-square"></i> Adicionar Novo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ADMName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmarSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nivelAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ADMName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmarSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivelAcesso)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UsuarioID" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.UsuarioID" class="btn btn-secondary"><i class="bi bi-card-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.UsuarioID" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
